@model AddPostVM
@{
}

<div class="m-3">
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="mb-3">
    <label asp-for="Title" class="form-label"></label>
        <input class="form-control" asp-for="Title" />
    </div>
    <div class="mb-3">
    <label asp-for="Body"></label>
        <input class="form-control" asp-for="Body" />
    </div>
    <div class="mb-3">
    <label asp-for="CategoryId" class="form-label"></label>
    <select class="form-control" asp-for="CategoryId" asp-items="Model.categories">
        </select>
    </div>
    <div class="mb-3">
    <label asp-for="RestaurantId" class="form-label"></label>
    <select class="form-control" asp-for="RestaurantId" asp-items="Model.restaurants">
        </select>
    </div>
    <div class="mb-3">
        <label asp-for="Image" class="form-label"></label>
        <input type="file" asp-for="Image" />
    </div>
    <hr />
        <input type="submit" class="btn btn-primary" value="Add Post" />
    </form>
</div>

